#gameboard {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border: 6px outset #D0E9F1;
    right: 400px;
    top: 200px;
    position: absolute;
}
.ava1 {
    border-color: black;
    /* border-style: solid; */
    border-width: 5px;
    border-radius: 50%;
    width: 20%;
    padding: 15px;
}
.ava2 {
    border-color: black;
    /*border-style: solid;*/
    border-width: 5px;
    border-radius: 50%;
    width: 20%;
    padding: 15px;
    position:absolute;
    bottom: 0;
    right: 0;
}
.flex-container {
    min-height: 30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.square {
    height: 56px;
    width: 56px;
    position: relative;
}

.square svg {
    height: 45px;
    width: 45px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: beige;
}

.brown {
    background-color: rgb(128, 66, 66);
}


.blue {
    background-color: lightblue;
}

.black {
    fill: black;
}

.white {
    fill: white;
}

body {
    background-color: #3E5C76;
}

button {
    position: absolute;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);  
    left: 330px;
    top: 700px;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}

p {
    position: absolute;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    right: 468px;
    top: 410px;
}

h4 {
    font-family: 'Righteous', serif;
    position: absolute;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px; 
    margin: 10px 0 20px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #1D2D44;
    right: 230px;
    top: 10%;
    color: #D0E9F1;
}